
   <p id="notice"><%= notice %></p> 
<h1>User Infos</h1>
<table>
  
  <thead>
    <tr>
      <th>Birth date</th>
      <th>Gender</th>
      <th>Marital status</th>
      <th>Address1</th>
      <th>Address2</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>Zipcode</th>
      <th>Contact1</th>
      <th>Contact2</th>
      <th>Linkedin link</th>
      <th>Twitter link</th>
      <th>Facebook link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbodyss>
    <% @user_infos.each do |user_info| %>
      <tr>
        <td><%= user_info.birth_date %></td>
        <td><%= user_info.gender %></td>
        <td><%= user_info.marital_status %></td>
        <td><%= user_info.address1 %></td>
        <td><%= user_info.address2 %></td>
        <td><%= user_info.city %></td>
        <td><%= user_info.state %></td>
        <td><%= user_info.country %></td>
        <td><%= user_info.zipcode %></td>
        <td><%= user_info.contact1 %></td>
        <td><%= user_info.contact2 %></td>
        <td><%= user_info.linkedin_link %></td>
        <td><%= user_info.twitter_link %></td>
        <td><%= user_info.facebook_link %></td>
        <td><%= link_to 'Show', user_info %></td>
        <td><%= link_to 'Edit', edit_user_info_path(user_info) %></td>
        <td><%= link_to 'Destroy', user_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
</tbodyss>
    <% end %>
  </tbody>
</table>


<%= link_to 'New User Info', new_user_info_path %>
