 <p id="notice"><%= notice %></p>

<div class="card text-center">
 <div class="card-body">
    <h1 class="card-title">PROFILE</h1>
  </div>
</div>
 <% if @user_info.image.attached? %>
<p>
    <strong></strong>
  <br> 
  <%= image_tag @user_info.image, height: '200', width: '200', align: 'right' %>

</p>
<% end %>

<div class="container">
  <div class="row">

    <div class="col-sm-4">
      <h4><mark>BASIC INFORMATION</mark></h4>

  <p>
  <strong>BirthDate:</strong>
  <%= @user_info.birth_date %>
</p>    
<p>
  <strong>Gender:</strong>
  <%= @user_info.gender %>
</p>
<p>
  <strong>Marital status:</strong>
  <%= @user_info.marital_status %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @user_info.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @user_info.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @user_info.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @user_info.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @user_info.country %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @user_info.zipcode %>
</p>
</div>


<div class="col-sm-4">
  <h4><mark>CONTACTS</mark></h4>
  <p>
  <strong>Contact1:</strong>
  <%= @user_info.contact1 %>
</p>

<p>
  <strong>Contact2:</strong>
  <%= @user_info.contact2 %>
</p>
</div>
<div class="col-sm-4">
 <h4><mark>SOCIAL LINKS</mark></h4>  
<p>
  <strong>Linkedin link:</strong>
  <%= @user_info.linkedin_link %>
</p>

<p>
  <strong>Twitter link:</strong>
  <%= @user_info.twitter_link %>
</p>

<p>
  <strong>Facebook link:</strong>
  <%= @user_info.facebook_link %>
</p>
</div>
</div>
</div>

<div class="card-footer">
   <a> last updated <%= time_ago_in_words(@user_info.updated_at) %> ago</a>
    </div>
<center>
<%= link_to 'Edit', edit_user_info_path(@user_info) %> |
<%= link_to 'Back', new_user_info_path %>
