<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-4">

      <div class="text-success text-center py-2 font-weight-bold"><%= "#{@user.first_name} #{@user.last_name}" %></div>
      <div class="text-success text-center py-2"><%= mail_to @user.email %></div>
      <div class="text-warning text-center py-2 font-italic"><%= @user.role %></div>
      <div class="text-secondary text-center pt-2 pb-1">Average Duration (<%= Date.today.strftime("%B %Y") %>)</div>
      <div class="text-danger text-center pt-1 pb-2 font-weight-bold"><%= @avg_duration_in_words %></div>
    </div>
    <div class="col-8">
      <%= line_chart Hash[@current_month_attendances.group_by_day{|a| a.created_at}.map{|k,v| [k, ((v.first.time_out - v.first.time_in)/3600.0).round(2)]}] %>
    </div>
  </div>
</div>

<div class="text-right align-text-bottom" style="padding-top: 200px; padding-right: 40px;">
  <%= link_to 'Back', users_path, class: "btn btn-outline-dark" %>
</div>
