<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="row">
        <div class="col-6 text-right">Name</div>
        <div class="col-6 text-primary"><%= "#{@user.first_name} #{@user.last_name}" %></div>
      </div>
      <div class="row">
        <div class="col-6 text-right">Email</div>
        <div class="col-6 text-success"><%= @user.email %></div>
      </div>
      <div class="row">
        <div class="col-6 text-right">Role</div>
        <div class="col-6 text-warning"><%= @user.role %></div>
      </div>
      <div class="row">
        <div class="col-6 text-right">Average Duration for <%= Date.today.strftime("%B %Y") %></div>
        <div class="col-6 text-danger"><%= @avg_duration_in_words %></div>
      </div>
    </div>
    <div class="col-8">
      <%= line_chart Hash[@current_month_attendances.group_by_day{|a| a.created_at}.map{|k,v| [k, ((v.first.time_out - v.first.time_in)/3600.0).round(2)]}] %>
    </div>
  </div>
</div>

<%= link_to 'Back', users_path %>
